@import "./variables.scss";
@import "./reset.scss";

:root {
  --main-text-color: #000;
  --bg-color: #F2F2F2;
}

.m-feedback {
  &__container {
    position: relative;

    & input[id="closeFeedback"] {
      display: none;

      &:checked + label {
        & img {
          display: none;
        }

        & + form {
          opacity: 0;
        }
      }
    }

    & label[for="closeFeedback"] {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
    }
  }

  &__number {

    &Version {
      max-width: 526px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      border-radius: 10px;
      padding: 25px;

      transition: 300ms opacity ease-out;
    }

    &Title {
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      max-width: 280px;
      text-align: center;
      margin-bottom: 35px;
    }
  }
}

.m-rate {
  &__list {
    display: flex;
    list-style: none;
    margin-bottom: 15px;
  }

  &__button {
    &:not(:last-child) {
      margin-right: 8px;
    }

    & span {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      width: 36px;
      border: 1px solid #DCDFF1;
      border-radius: 5px;

      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #202842;
    }

    & input {
      display: none;

      &:checked + label span{
        background-color: #000;
        color: #fff;
      }
    }

  }

  &__degree {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 16px;
    color: #5D698D;
    margin-bottom: 25px;
  }

  &__message {
    height: 70px;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #DCDFF1;
    resize: none;
    outline: none;
    border-radius: 5px;

    &Title {
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;

      color: #202842;
      margin-bottom: 6px;
    }

    &Area {
      height: 0;
      overflow: hidden;
      width: 100%;
      transition: 300ms height;

      &.-opened {
        height: 95px;
        margin-bottom: 25px;
      }
    }
  }
}

.m-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.a-skip__btn {
  font-size: 14px;
  line-height: 19px;
  color: #5D698D;
  outline: none;
}

.a-submit__btn {
  width: 90px;
  height: 39px;
  color: #fff;
  background-color: #3457DC;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;  
}